spring:
  application:
    name: financetrecker
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/finance_db
    password: Thread.currentThread()
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
    hibernate:
      ddl-auto: update
server:
  servlet:
    context-path: /
  port: 8080